<div class="wrapper">
  <div class="card authorize-card">
    <header>
      <i class="material-icons icon">lock</i>
      <section>
        <h1>{{req.clientId}}</h1>
        <h2>Grant authorization</h2>
      </section>
    </header>
    <p>
      By granting authorization, you'll be able to authenticate to the application.
    </p>
    <p>
      If you confirm the grant, you'll be prompted to confirm a transaction and a message signing.
      This will persist the grant to the blockchain and generate your access-token.
    </p>
    <p>
      <i>Note:</i> In subsequent versions, the application may also read some information from your account
      (e.g. username) based on the granted authorization.
    </p>
    <div class="card-actions">
      <button class="dramatic" (click)="addGrant(req)">Confirm</button>
      <button class="boring" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
