@import '~@angular/material/theming';

@include mat-core();

$base: #1e1e1e; // #333
$light: #989898; // #999
$lightest: #dcdcdc; // #ccc
$link: #320a3c; // #1978c8
$linkHover: #f03c6e; // #f28a25
$border: #e8e8e8;
$name: #ff96a0; // #7f9a44
$type: #c69cd0; // #b77daa
$error: #fff;
$baseBackground: #fff;
$errorBackground: #c00;
$codeBackground: #f5f5f5; // #f5f5f5
$sidebarBackground: #f5f5f5; // #f5f5f5

$ae-primary-palette: (
  50 : #fff2f4,
  100 : #ffe0e3,
  200 : #ffcbd0,
  300 : #ffb6bd,
  400 : #ffa6ae,
  500 : #ff96a0,
  600 : #ff8e98,
  700 : #ff838e,
  800 : #ff7984,
  900 : #ff6873,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #fff1f2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ae-accent-palette: (
  50 : #f8f3f9,
  100 : #eee1f1,
  200 : #e3cee8,
  300 : #d7bade,
  400 : #cfabd7,
  500 : #c69cd0,
  600 : #c094cb,
  700 : #b98ac4,
  800 : #b180be,
  900 : #a46eb3,
  A100 : #ffffff,
  A200 : #fefaff,
  A400 : #f3c7ff,
  A700 : #edadff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
/* For use in src/lib/core/theming/_palette.scss */
$ae-warn-palette: (
  50 : #f9e0e0,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ae-app-primary: mat-palette($ae-primary-palette);
$ae-app-accent:  mat-palette($ae-accent-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ae-app-warn:    mat-palette($ae-warn-palette);

// Create the theme object (a Sass map containing all of the palettes).
$ae-app-theme: mat-light-theme($ae-app-primary, $ae-app-accent, $ae-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ae-app-theme);
